<div class="counter-container">
    <div class="top-sections">
        <section>
            <p #counter1 class="number" [innerHTML]="startCounter(counter1,519)"></p>
            <span>Individuals Involved</span>
        </section>


        <section>
            <p #counter2 class="number" [innerHTML]="startCounter(counter2,2058)"></p>
            <span>State-of-the-art Researches</span>
        </section>


        <section>
            <p #counter3 class="number" [innerHTML]="startCounter(counter3,320)"></p>
            <span>SSF Profiles</span>
        </section>
    </div> <!-- top-sections -->


    <div class="bottom-sections">
        <section>
            <p #counter4 class="number" [innerHTML]="startCounter(counter4,351)"></p>
            <span>SSF Organizations</span>
        </section>


        <section>
            <p #counter5 class="number" [innerHTML]="startCounter(counter5,6)"></p>
            <span>Case Studies</span>
        </section>


        <section>
            <p #counter6 class="number" [innerHTML]="startCounter(counter6,48)"></p>
            <span>Bluejustice Reports</span>
        </section>


        <section>
            <p #counter7 class="number" [innerHTML]="startCounter(counter7,118)"></p>
            <span>SSF Guildeline Reports</span>
        </section>
    </div> <!-- /bottom-sections -->
</div> <!-- /counter-container -->
