#visual2 #svg-container {
    max-width: 650px;
    overflow: visible;
    border: 0px solid black;
}


#visual2 .visual2-controller {
    margin-top: 30px;
}


#visual2 .visual2-controller section {
    float: left;
}


#visual2 .visual2-controller section button {
    margin: 0;
    border-radius: 0;
    color: #666;
    background: #e6e6e6;
    border: 1px solid #ccc;
}


#visual2 .visual2-controller section button.active {
    font-weight: 500;
    color: #fff;
    background: #2699fd;
    border: 1px solid #2699fd;
}


#visual2 .visual2-controller #attribute-type {
    width: 50%;
    text-align: right;
}


#visual2 .visual2-controller #count-type {
    width: calc(50% - 20px);
    text-align: left;
    margin-left: 20px;
}


#visual2 .visual2-controller select {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #2699fd;
    border-radius: 4px;
    margin-left: calc(calc(100% - 300px)/2);
    margin-top: 20px;
    margin-bottom: 20px;
}


#visual2 .vis-description {
    font-size: 16px;
    margin-top: 25px;
}


#visual2 .vis-description li {
    padding-bottom: 5px;
}




@media only screen and (max-width: 1199px){
    #visual2 {
        margin-left: 15px;
    }


    #visual2 .Row,
    #visual2 .Row2 {
        display: block;
        text-align: center;
        margin: 0px 0px 15px;
    }


    #visual2 button {
        font-size: 13px;
        margin: 1px 0px !important;
    }


    #visual2 #myCheckboxLabel span,
    #visual2 #dimensions label span {
        margin-top: 2px;
    }


    #visual2 #drop select {
        margin-top: 10px;
    }


    #visual2 .vis-description p {
        font-size: 17px;
        line-height: 22px;
    }


    #visual2 .vis-description ul {
        padding-left: 2%;
        margin-top: 20px;
    }


    #visual2 .vis-description ul li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 600px) and (max-width: 1199px) {
    #visual2 .svgmap {
        margin-left: 1%;
    }
}
