
<div id="visual2" class="visual-slides">
    <div class="visual2-controller">
        <section id="attribute-type">
          <button [ngClass]="{active: attributeType === gearType}" (click)="reCreateVisualization(selectedCountry, gearType, countType)">Gear</button>
          <button [ngClass]="{active: attributeType === vesselType}" (click)="reCreateVisualization(selectedCountry, vesselType, countType)">Vessel</button>
        </section>


        <section id="count-type">
            <button [ngClass]="{active: countType === countTypes.numeric}"
                    (click)="reCreateVisualization(selectedCountry, attributeType, countTypes.numeric)"
            >Numeric</button>

            <button [ngClass]="{active: countType === countTypes.percentage}"
                    (click)="reCreateVisualization(selectedCountry, attributeType, countTypes.percentage)"
            >Percentage</button>
        </section>


        <select id="country-name" (change)="reCreateVisualization($event, attributeType, countType)">
            <option
                *ngFor="let country of countryList"
                [value]="country"
                [innerHTML]="country"
                [selected]="country === selectedCountry"
            ></option>
        </select>
    </div> <!-- /visual2-controller-->


    <div id="svg-container"></div>


    <div class="vis-description">
        <p>This barchart shows different types of vessel and gear counts by country</p>
        <ul>
            <li>"Numeric" shows the total number of vessel/gear types in the selected country</li>
			      <li>"Percentage" shows what is the percentage of gear/vessel type attributed to the selected country</li>
        </ul>
    </div>
</div>
