<div class="who-forms">
    <p>
        If you cannot find the person you are looking for in the list below, that means they have not created any account or verified their account yet. Please ask them to register to ISSF. Once they are registered, a confirmation email will be sent to them. Please ask them to verify their account by clicking the link from the email they provided. Once they have registered and verified their account, reload this page and their name should appear in the list.
    </p>


    <section class="form-input">
        <label>
            <span>Choose the person you want to create the profile for:</span>
        </label>


        <div class="filterable-select-box input-spinner-holder">
            <input class="filterable-select-filterer" type="text" placeholder="Search users ..." (keyup)="filterUsers($event)"/>
            <img
                *ngIf="!users"
                class="input-spinner filterable-select-spinner"
                src="/assets/img/icons/loader/loading.gif"
                alt="spinner"
            />
            <div class="filterable-select-options">
                <p
                    *ngFor="let user of users"
                    class="select-option"
                    (click)="onUserSelect($event)"
                    [attr.value]="user.id"
                    [innerHTML]="getUserName(user)"
                ></p>
            </div>
        </div> <!-- /filterable-select-box -->
    </section>

    <button class="button" (click)="createWhoRecord()">Save & Next</button>
</div> <!-- /who-forms -->
