*.html linguist-detectable=false
*.css  linguist-detectable=false
*.rst  linguist-detectable=false
*.md   linguist-detectable=false
*.json linguist-detectable=true
*.yml  linguist-detectable=true
*.sql  linguist-detectable=true

templates/* linguist-vendored
