*.html  linguist-detectable=false
*.rst   linguist-detectable=false
*.md    linguist-detectable=false
*.sql   linguist-detectable=false
*.pgsql linguist-detectable=false

templates/* linguist-vendored
