appdirs==1.4. 
crispy-forms-foundation==0.7.0
defusedxml==0.5.0
diff-match-patch==20181111
Django==2.0.1
django-allauth==0.38.0
django-appconf==1.0.2
django-compressor==2.2
django-crispy-forms==1.7.2
django-eztables==0.3.2
django-generic-aggregation==0.4.0
django-geojson==2.12.0
django-google-analytics==2
django-leaflet==0.24.0
django-queryset-csv==1.0.1
django-tables2==2.0.3
django-timedeltafield==0.7.10
django-js-reverse==0.8.2
flickrapi==2.4.0
foundationform==0.2
future==0.17.1
gunicorn==19.9.0
hardcopy==0.1.0
html5lib==1.0.1
httplib2==0.12.0
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==2.1.0
packaging==18.0
psycopg2==2.7.6.1
pyparsing==2.3.0
PyPDF2==1.26.0
python-decouple==3.1
python-oauth2==1.1.0
python-openid==2.2.5
python-twitter==3.5
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
six==1.12.0
tablib==0.12.1
unicodecsv==0.14.1
Unipath==1.1
django-hardcopy==0.1.4
