<div class="characteristics-issues-container" #characteristicsHolder>
    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container no-margin-top">
            <label class="header-label">
                <span>SSF type(s) (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsTypesOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsTypes.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsTypes.options[index].title, 'ssfTypes')"
                    [value]="characteristicsTypes.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsTypes.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    (click)="toggleOther($event)"
                    [attr.attrId]="characteristicsTypes.other.attrId"
                    [checked]="getOtherValue(characteristicsTypes, 'ssfTypes')"
                    [value]="characteristicsTypes.other.attrValue"
                />
                <span [innerHTML]="characteristicsTypes.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                [attr.attrId]="characteristicsTypes.other.attrId"
                [required]="getOtherValue(characteristicsTypes, 'ssfTypes')"
                placeholder="Please specify ..."
                [value]="getOtherValue(characteristicsTypes, 'ssfTypes') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsTypes, 'ssfTypes') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Ecosystem type(s) (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsEcoTypesOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsEcoTypes.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsEcoTypes.options[index].title, 'ecoTypes')"
                    [value]="characteristicsEcoTypes.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsEcoTypes.options[index].title"></span>
            </label>
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Ecosystem detailed type(s) (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsEcoTypesDetailsOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsEcoTypesDetails.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsEcoTypesDetails.options[index].title, 'ecoDetailType')"
                    [value]="characteristicsEcoTypesDetails.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsEcoTypesDetails.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    name="characteristic_issue_value_ids[]"
                    [attr.attrId]="characteristicsEcoTypesDetails.other.attrId"
                    (click)="toggleOther($event)"
                    [checked]="getOtherValue(characteristicsEcoTypesDetails, 'ecoDetailType')"
                    [value]="characteristicsEcoTypesDetails.other.attrValue"
                />
                <span [innerHTML]="characteristicsEcoTypesDetails.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                [attr.attrId]="characteristicsEcoTypesDetails.other.attrId"
                [required]="getOtherValue(characteristicsEcoTypesDetails, 'ecoDetailType')"
                placeholder="Please specify ..."
                [value]="getOtherValue(characteristicsEcoTypesDetails, 'ecoDetailType') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsEcoTypesDetails, 'ecoDetailType') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Term(s) used to refer to SSF (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsTermsUsedOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsTermsUsed.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsTermsUsed.options[index].title, 'ssfTerms')"
                    [value]="characteristicsTermsUsed.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsTermsUsed.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    name="characteristic_issue_value_ids[]"
                    [attr.attrId]="characteristicsTermsUsed.other.attrId"
                    (click)="toggleOther($event)"
                    [checked]="getOtherValue(characteristicsTermsUsed, 'ssfTerms')"
                    [value]="characteristicsTermsUsed.other.attrValue"
                />
                <span [innerHTML]="characteristicsTermsUsed.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                name="governance_other"
                [attr.attrId]="characteristicsTermsUsed.other.attrId"
                [required]="getOtherValue(characteristicsTermsUsed, 'ssfTerms')"
                placeholder="Please specify ..."
                [value]="getOtherValue(characteristicsTermsUsed, 'ssfTerms') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsTermsUsed, 'ssfTerms') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Main gear type(s) (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsGearsOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsGears.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsGears.options[index].title, 'mainGears')"
                    [value]="characteristicsGears.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsGears.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsGears.other.attrId"
                    (click)="toggleOther($event)"
                    [checked]="getOtherValue(characteristicsGears, 'mainGears')"
                    [value]="characteristicsGears.other.attrValue"
                />
                <span [innerHTML]="characteristicsGears.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                [attr.attrId]="characteristicsGears.other.attrId"
                [required]="getOtherValue(characteristicsGears, 'mainGears')"
                placeholder="Please specify ..."
                [value]="getOtherValue(characteristicsGears, 'mainGears') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsGears, 'mainGears') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>SSF market and distribution channel(s) (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsMarketDistributionOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsMarketDistribution.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsMarketDistribution.options[index].title, 'ssfMarket')"
                    [value]="characteristicsMarketDistribution.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsMarketDistribution.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    (click)="toggleOther($event)"
                    [attr.attrId]="characteristicsMarketDistribution.other.attrId"
                    [checked]="getOtherValue(characteristicsMarketDistribution, 'ssfMarket')"
                    [value]="characteristicsMarketDistribution.other.attrValue"
                />
                <span [innerHTML]="characteristicsMarketDistribution.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                placeholder="Please specify ..."
                [attr.attrId]="characteristicsMarketDistribution.other.attrId"
                [required]="getOtherValue(characteristicsMarketDistribution, 'ssfMarket')"
                [value]="getOtherValue(characteristicsMarketDistribution, 'ssfMarket') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsMarketDistribution, 'ssfMarket') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Governance mode(s) in SSF (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsGovernanceOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsGovernance.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsGovernance.options[index].title, 'ssfGovModes')"
                    [value]="characteristicsGovernance.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsGovernance.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    (click)="toggleOther($event)"
                    [attr.attrId]="characteristicsGovernance.other.attrId"
                    [checked]="getOtherValue(characteristicsGovernance, 'ssfGovModes')"
                    [value]="characteristicsGovernance.other.attrValue"
                />
                <span [innerHTML]="characteristicsGovernance.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                placeholder="Please specify ..."
                [attr.attrId]="characteristicsGovernance.other.attrId"
                [required]="getOtherValue(characteristicsGovernance, 'ssfGovModes')"
                [value]="getOtherValue(characteristicsGovernance, 'ssfGovModes') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsGovernance, 'ssfGovModes') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->


    <div class="characteristic-section toggle-container">
        <section class="form-input checkbox-container">
            <label class="header-label">
                <span>Key rules, regulations, instruments and measures used to manage SSF (select ALL that apply):</span>
            </label>

            <label *ngFor="let index of characteristicsRegulationsOptions">
                <input
                    type="checkbox"
                    [attr.attrId]="characteristicsRegulations.options[index].attrId"
                    [checked]="shouldCheckItem(characteristicsRegulations.options[index].title, 'ssfKeyRules')"
                    [value]="characteristicsRegulations.options[index].attrValue"
                />
                <span [innerHTML]="characteristicsRegulations.options[index].title"></span>
            </label>

            <label>
                <input
                    type="checkbox"
                    (click)="toggleOther($event)"
                    [attr.attrId]="characteristicsRegulations.other.attrId"
                    [checked]="getOtherValue(characteristicsRegulations, 'ssfKeyRules')"
                    [value]="characteristicsRegulations.other.attrValue"
                />
                <span [innerHTML]="characteristicsRegulations.other.title"></span>
            </label>

            <input
                type="text"
                class="does-toggle"
                placeholder="Please specify ..."
                [attr.attrId]="characteristicsRegulations.other.attrId"
                [required]="getOtherValue(characteristicsRegulations, 'ssfKeyRules')"
                [value]="getOtherValue(characteristicsRegulations, 'ssfKeyRules') || ''"
                [ngStyle]="{'display': getOtherValue(characteristicsRegulations, 'ssfKeyRules') ? 'block' : 'none' }"
            />
        </section>
    </div> <!-- /characteristic-section -->
</div> <!-- /characteristic-issues-container -->
