
#records .record-holder {
    float: left;
    min-height: calc(100vh - 233px);
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px 10px;
    border: 1px solid #ccc;
    margin: 5px 0px 0px;
}


#records .record-holder legend {
    font-weight: 500;
    font-size: 27px;
}


#records .tab-triggers {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 35px;
    margin-bottom: 13px;
}

#records .tab-triggers span {
    font-size: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 3px;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}

#records .tab-triggers span:last-child {
    border-right: 1px solid #ccc;
}

#records .tab-triggers span.selected {
    color: #fff;
    background: #3285cc;
    border: 1px solid #3285cc;
}


#records .filter-box {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}


#records .filter-box input {
    float: left;
    width: 50%;
    height: 45px;
    font-size: 15px;
    padding: 0px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.2);
}


#records .all-records {
    position: relative;
    float: right;
    font-size: 15px;
    background: #3285cc;
    color: #fff;
    padding: 12px 12px;
    border-radius: 5px;
}


#records .badge {
    font-size: 15px;
    padding: 3px 6px;
    background: #f8f9fa;
    color: #000;
    border-radius: 5px;
    margin-left: 10px;
}


#records .record-holder table {
    width: 100%;
}


#records .record-holder td {
    position: relative;
    padding: 15px;
}


#records .record-holder td p {
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 5px;
}


#records .record-holder td span {
    float: left;
    margin-right: 25px;
}


#records .record-holder td span:last-child {
    margin-right: 0;
}


#records .record-holder em {
    font-weight: 550;
    font-style: normal;
}


#records .record-holder .tags {
    float: left;
    width: 100%;
    margin-top: 8px;
}


#records .record-holder .tag {
    background: #3285cc;
    color: #fff;
    font-size: 13px;
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 10px !important;
}




@media only screen and (max-width: 1023px) {
    #records .record-holder {
        padding: 20px 15px;
    }


    #records .record-holder legend {
        font-size: 22px;
    }


    #records .tab-triggers {
        margin-top: 22px;
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 767px) {
    #records .tab-triggers {
        padding-bottom: 7px;
    }


    #records .tab-triggers span {
        padding: 8px 10px;
    }


    #records .filter-box input {
        width: 100%;
    }


    #records .all-records {
        float: left;
        margin-top: 10px;
        padding: 10px 15px;
    }
}
