.scope-icon {
    background-color: rgba(255, 255, 0, 0);
}

.error {
    background-image: url(/static/frontend/img/warning.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    color: #F5CC17;
    font-weight: bold !important;
}

.exportButton {
    font-size: 1rem;
}

/* To align search terms and export button */
#searchTerms {
    display: inline;
}

.goog-te-gadget-simple {
    border: none !important;
    background-color: transparent !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(204, 204, 204, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

select#choroProps {
    margin-right: 75px;
    font-size: 10pt;
}

.choroControl {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(204, 204, 204, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.choroControl h4 {
    margin: 0 0 5px;
    color: #424242;
}

.legend {
    line-height: 18px;
    color: #424242;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#panel-basic {
    color: white;
}

#quick-country-select {
    display: none;
}

.selectize-input {
    border: 1px solid #37516F !important;
    border-radius: 0 !important;
}

.selectize-input.full {
    border: 1px solid #37516F;
    border-radius: 0;
}

#quick-button-floaty {
    float: right;
}

#quick-search-fulltext-container input {
    width: 98%;
}
