body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
}

h1 {
    margin: 0.4em 0 0 0;
    font-size: 2.75em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.float-right {
    float: right;
}

#map img {
    width: 100%;
}

#downloadaspdf {
    background:  #f16a2c;
}

#downloadaspdf:hover {
    background:  #ff9666;
}

.section-header,
#contributor {
    background-color: #001871;
    border-radius: 0.25em;
    padding: 0.4em;
    box-shadow: 0 3px 3px 2px #ccc;
    margin: 0.6em 0;
}

.section-header h2 {
    margin: 0;
    color: white;
}

table {
    width: 100%;
}

td:first-child {
    width: 20vw;
}

td {
    padding: 0;
}

#piechart-container {
    position: relative;
}

#piechart {
    margin: -0.5em auto 0 auto;
}

#key-species div {
    display: inline-block;
    width: 24%;
    text-align: center;
}

#key-species div h4 {
    font-size: 1.5em;
    margin: 0;
}

#major-issues,
#activities {
    text-align: center;
    font-weight: 600;
}

#major-issues p,
#activities p {
    margin: 1em 0 0 0;
    font-style: italic;
}

#footer-flower div {
    width: 10em;
    margin: 0 auto;
}

#footer-flower img {
    width: 100%;
}

#contributor {
    background-color: #cacddb;
}

#contributor p {
    margin: 0;
}

@media print {
    #header img {
        height: 32px;
    }

    @page {
        margin: 16px;
    }

    body {
        margin: 1.6cm;
        font-size: 0.8em;
    }

    .hidefromprint {
        display: none;
    }

    #piechart {
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto !important;
        width: auto !important;
    }
}
