{% extends 'issf_base/base.html' %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block additional_css_scripts %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "details/css/details.css" %}">
{% endblock additional_css_scripts %}

{% block body %}
    <section class="content-section report">
        <div class="row" id="main">
            <div class="large-12 columns">
                <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation active">
                        {% if editor %}
                            <h6>Step 2/2. Please indicate the geographic scope of the record.</h6>
                            <p class="alert">
                                <label>*</label>
                                indicates required fields
                            </p>
                            <div class="FormSetGeog FormSetToggler FormSetGeogLabel">
                                {{ geographic_scope_form }}
                            </div>
                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <div class="FormSet FormSetTogglable FormSetGrowable">
                                    {{ local_area_form }}
                                </div>
                                <input
                                    id="id_geographic_scope_type_0"
                                    type="hidden"
                                    value="Local"
                                    name="geographic_scope_type"
                                >
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <div class="FormButtonBar FormButtonBarInitial button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>

                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <div class="FormSet FormSetTogglable FormSetGrowable">
                                    {{ subnation_form }}
                                </div>
                                <input
                                    id="id_geographic_scope_type_1"
                                    type="hidden"
                                    value="Sub-national"
                                    name="geographic_scope_type"
                                >
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <div class="FormButtonBar button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>

                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <div class="FormSet FormSetTogglable">
                                    {{ nation_form }}
                                </div>
                                <input
                                    id="id_geographic_scope_type_2"
                                    type="hidden"
                                    value="National"
                                    name="geographic_scope_type"
                                >
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <div class="FormButtonBar button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>

                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <div class="FormSet FormSetTogglable FormSetGrowable">
                                    {{ region_form }}
                                </div>
                                <input
                                    id="id_geographic_scope_type_3"
                                    type="hidden"
                                    value="Regional"
                                    name="geographic_scope_type"
                                >
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <div class="FormButtonBar button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>

                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <input
                                    id="id_geographic_scope_type_4"
                                    type="hidden"
                                    value="Global"
                                    name="geographic_scope_type"
                                >
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <div class="FormButtonBar button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>

                            <form action="{% url 'geographic-scope' %}" method="post" style="display: block">
                                {% csrf_token %}
                                <input
                                    id="issf_core_id"
                                    type="hidden"
                                    value="{{ core_instance.issf_core_id }}"
                                    name="issf_core_id"
                                >
                                <input
                                    type="hidden"
                                    name="geographic_scope_type"
                                    value="Not specific"
                                    id="id_geographic_scope_type_5"
                                >
                                <div class="FormButtonBar button-bar">
                                    <button class="medium radius submit bt-submit">Submit</button>
                                </div>
                            </form>
                        {% else %}
                            <h2>You do not have the proper permission to edit this record.</h2>
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}

{% block additional_js_scripts %}
    {% leaflet_js %}

    <script src="{% static "details/js/map-setup.js" %}" type="text/javascript"></script>
    <script src="{% static "details/js/error-handling.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
        // All the map initialization functionality is handled by this function call.
        // The function can be found in map-setup.js
        map_handler();

        // This function handles all form errors; both field and form-level.
        // It can be found in error-handling.js
        error_handler();
    </script>
{% endblock %}