{% load staticfiles %}
{% load report %}
{% load humanize %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" href="{% static 'css/recordreport.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="header" class="row">
                <img id="tbti-logo" src="{% static 'issf_base/img/TBTI_logo.png' %}">
                <img id="issf-logo" class="float-right" src="{% static 'issf_base/img/logo-issf.png' %}">
            </div>

            <div class="row">
                <div id="title">
                    <h1>{{ record.ssf_name }}</h1>
                </div>
            </div>

            <div class="row">
                <div id="section-header">
                    <h2>At a Glance</h2>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <table id="stats">
                        {% for attr, val in attrs.items|slice:"5" %}
                            <tr>
                                <td>
                                    <strong>{{ attr }}</strong>
                                </td>
                                <td>{{ val|joinby:', ' }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td>
                                <strong>Time period of data</strong>
                            </td>
                            <td>
                                {{ record.data_year }}
                                {% if record.data_end_year %}
                                    - {{ record.data_end_year }}
                                {% endif %}
                            </td>
                        </tr>

                        {% if num_fishers.value %}
                            <tr>
                                <td>
                                    <strong>Total number of SS fishers</strong>
                                </td>
                                <td>{{ num_fishers.value }}</td>
                            </tr>
                        {% endif %}

                    </table>
                </div>
            </div>

            <div class="row">
                {% if location %}
                    <div id="map" class="five columns">
                        <h3>{{ location }}</h3>
                        <img
                            src="https://open.mapquestapi.com/staticmap/v5/map?key=QNOjYn29lvUFIowAJ5mokSwVN9XgWvxg&center={{ location }}&size=350,300&zoom={{ zoom }}"
                        />
                    </div>
                {% endif %}
                <div class="seven columns">
                    <div id="section-header">
                        <h2>SSF Definition</h2>
                    </div>

                    <div>
                    {% if record.ssf_definition %}
                        {{ record.ssf_definition }}
                    {% else %}
                        No definition provided.
                    {% endif %}
                    </div>
                    <div id="section-header">
                        <h2>Distribution Channels</h2>
                    </div>
                    <div class="twelve columns">
                        {% if distribution %}
                            <div id="piechart-container">
                                <canvas id="piechart">
                                    Your browser does not support the HTML5 canvas, please update to view.
                                </canvas>
                            </div>
                        {% else %}
                            <div><p>No data provided.</p></div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <div id="section-header">
                        <h2>Key Species & Landings</h2>
                    </div>

                    <div id="key-species">
                    {% if species_colors %}
                        {% for spec_col in species_colors %}
                            <div>
                                <h4>
                                    {% if spec_col.0.species_common %}
                                        {{ spec_col.0.species_common }}
                                    {% else %}
                                        {{ spec_col.0.species_scientific }}
                                    {% endif %}
                                </h4>
                                <p>
                                    {% if spec_col.0.landings %}
                                        {{ spec_col.0.landings|intcomma }} t
                                    {% else %}
                                        ---
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        No data provided.
                    {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="four columns">
                    <div id="section-header">
                        <h2>Major Issues</h2>
                    </div>
                    <div id="major-issues">
                        {% if issues %}
                            {% for issue in issues %}
                                <div>
                                    <p>
                                        {{ issue }}
                                    </p>
                                </div>
                            {% endfor %}
                        {% else %}
                            No data provided.
                        {% endif %}
                    </div>
                </div>

                <div class="eight columns">
                    <div id="section-header">
                        <h2>Key Rules & Regulations</h2>
                    </div>

                    <div>
                        {% if key_rules_regs %}
                            <ul>
                                {% for rule_reg in key_rules_regs %}
                                    <li type="circle">{{ rule_reg }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No data provided.
                        {% endif %}
                    </div>

                    <div>
                        <h4>
                            Household Income from SSF:
                            <strong>
                            {% if hh_income %}
                                {{ hh_income }}%
                            {% else %}
                                N/A
                            {% endif %}
                            </strong>
                        </h4>
                    </div>

                    <div id="section-header">
                        <h2>Non-fishing Livelihood Activities</h2>
                    </div>

                    <div id="activities">
                        <div>
                            {% if non_fish_act %}
                                {% for activity in non_fish_act|slice:":3" %}
                                    {% if activity %}
                                        <div>
                                            {{ activity }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div>
                                    No data provided
                                </div>
                            {% endif %}
                        </div>

                        <div>
                            {% for activity in non_fish_act|slice:"-3:" %}
                                {% if activity %}
                                    <div>
                                        {{ activity }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div id="footer-flower">
                        <div>
                            <img src="{% static 'issf_base/img/TBTIflower.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="four columns">
                    <div id="section-header">
                        <h2>Governance</h2>
                    </div>
                    <div>
                        {% if governance %}
                            <ul>
                                {% for gov in governance %}
                                    <li type="circle">{{ gov }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No data provided.
                        {% endif %}
                    </div>
                </div>

                <div class="eight columns">
                    <div>
                        {% if record.img_url %}
                            <img src="{{ record.img_url }}">
                        {% endif %}

                        <div id="contributor">
                            <p><strong>Contributor:</strong></p>

                            <p>
                                {% if who_page %}
                                    <a href="{% url 'who-details' who_page.issf_core_id %}">
                                        {{ record.contributor }}
                                    </a>
                                {% else %}
                                    <a
                                        href="mailto:{{ record.contributor.email }}"
                                        target="_blank"
                                    >
                                        {{ record.contributor }}
                                    </a>
                                {% endif %}
                            </p>

                            <p><strong>Date created:</strong></p>
                            <p>{{ record.contribution_date }}</p>

                            <p><strong>For complete information about the profile, visit:</strong></p>
                            <a href="{{ url }}">
                                <strong>
                                    https://issfcloud.toobigtoignore.net.ca{{ url }}
                                </strong>
                            </a>

                            <p>
                                <a href="http://toobigtoignore.net/">
                                    <strong>toobigtooignore.net</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <img src="{% static 'issf_base/img/TBTImedia.png' %}"/>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cheet.js/0.3.3/cheet.min.js"></script>
        <script type="text/javascript">
            var labels = [];
            var values = [];
            var colors = [];
            {% for key, slice in distribution.items %}
                labels.push('{{key}}');
                values.push({{ slice }});
                colors.push('#' + (Math.random() * 0xFFFFFF << 0).toString(16));
            {% endfor %}
        </script>
        <script src="{% static 'js/recordreport.js' %}"></script>
    </body>
</html>
