{% load staticfiles %}
{% load report %}
{% load humanize %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'issf_base/foundation/css/foundation.css' %}">
        <title>{{ record.ssf_name }} Generated Report</title>

        <!-- TODO The line below was left by someone who has lost all sanity, and therefore this file must be burned with css-fire -->
        <style>
            /* Yes this is all inline. Fight me.*/
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                padding: 10px;
            }

            #issf-logo {
                float: right;
            }

            div:not(.row):not(.no-shadow) {
                -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.44);
                -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.44);
                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.44);
            }

            #title {
                text-align: center;
                color: #1f4e79;
                background-color: #bebebe;
                padding: 30px 20px 30px 20px;
                margin-top: 8px;
            }

            #title p {
                font-size: xx-large;
                font-weight: bold;
                width: 80%;
                margin: auto;
                text-align: center;
            }

            #section-header {
                color: white;
                background-color: #184f7b;
                font-weight: bolder;
                margin-top: 25px;
                padding: 10px 0 10px 0;
                font-size: x-large;
            }

            #map {
                width: 400px;
                height: 300px;
                margin-top: 20px;
                float: left;
            }

            #stats {
                float: right;
                border-collapse: collapse;
                margin-top: 20px;
                width: 55%;
            }

            #stats td {
                border: 3px solid #1f4e79;
                padding: 3px;
            }

            #stats tr td:first-child {
                width: 32%;
            }
        </style>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                data_array = [['Distribution type', 'Percentage']];
                {% for key, slice in distribution.items %}
                    data_array.push(['{{key}}', {{slice}}]);
                {% endfor %}

                var data = google.visualization.arrayToDataTable(data_array);

                var options = {
                    title: '',
                    chartArea: {left: 0, top: 0, width: "100%", height: "100%"},
                    pieHole: 0.2,
                    tooltip: {text: 'percentage'},
                    pieSliceText: 'none'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
        </script>
    </head>
    <body style="max-width: 1000px; margin: auto;">
        <div class="row">
            <img id="tbti-logo" src="{% static 'issf_base/img/TBTI_logo.png' %}">
            <img id="issf-logo" src="{% static 'issf_base/img/logo-issf.png' %}">
        </div>
        <div class="row">
            <div id="title">
                <p>{{ record.ssf_name }}</p>
            </div>
        </div>
        <div class="row">
            <div align="center" id="section-header">AT-A-GLANCE</div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div id="map" class="no-shadow">
                <div class="no-shadow" title="{{ location }}"
                     style="width: 392px; border:1px solid #5b9ad4; font-size: large; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    {{ location }}</div>
                {% if location %}
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ location }}&zoom={{ zoom }}&size=390x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyCJHSv1dWx6oDExnkcxzsCHUQX-eeF15gs" style="border:1px solid #5b9ad4">
                {% endif %}
            </div>
            <div>
                <table id="stats">
                    {% for attr, val in attrs.items|slice:"5" %}
                        <tr>
                            <td>
                                <strong>{{ attr }}</strong>
                            </td>
                            <td>{{ val|joinby:', ' }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <strong>Time period of data</strong>
                        </td>
                        <td>{{ record.data_year }}{% if record.data_end_year %} -
                            {{ record.data_end_year }}{% endif %}</td>
                    </tr>
                    {% if num_fishers.value %}
                        <tr>
                            <td>
                                <strong>Total number of SS fishers</strong>
                            </td>
                            <td>{{ num_fishers.value }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div align="center" id="section-header" style="width: 40%; float: left;">SSF DEFINITION</div>
            <div align="center" id="section-header" style="width: 55%; float: right;">DISTRIBUTION CHANNELS</div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div
                class="no-shadow"
                style="width: 40%; border: 2px solid #1f4e79; padding: 13px; float:left;"
            >
                {% if record.ssf_definition %}
                    {{ record.ssf_definition }}
                {% else %}
                    No definition provided.
                {% endif %}
                </div>
            <style>
                #piechart div {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            </style>
            {% if distribution %}
                <div class="no-shadow" id="piechart" style="float:right;"></div>
            {% else %}
                <div class="no-shadow" align="center"> No data provided.</div>
            {% endif %}
        </div>
        <div class="row">
            <div align="center" id="section-header">KEY SPECIES & LANDINGS</div>
        </div>
        <div class="row" style="display: table; margin-top: 20px; table-layout: fixed;">
            {% if species_colors %}
                {% for spec_col in species_colors %}
                    <div
                        class="no-shadow"
                        align="center"
                        style="background-color:{{ spec_col.1 }}; display: table-cell; height:80px; width:100%; border:2px solid #1f4e79;"
                    >
                        <p
                            style="margin: 0; font-size: 1.4em; font-weight: bold;"
                        >
                            {% if spec_col.0.species_common %}
                                {{ spec_col.0.species_common }}
                            {% else %}
                                {{ spec_col.0.species_scientific }}
                            {% endif %}
                        </p>h
                        <p style="margin: 0; font-size: large;">
                            {% if spec_col.0.landings %}
                                {{ spec_col.0.landings|intcomma }}
                            {% else %}
                                ---
                            {% endif %} t
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                No data provided.
            {% endif %}
        </div>
        <div class="row">
            <div align="center" id="section-header" style="width: 40%; float: left;">MAJOR ISSUES</div>
            <div align="center" id="section-header" style="width: 55%; float: right;">KEY RULES & REGULATIONS</div>
        </div>
        <div class="row">
            <div
                align="center"
                class="no-shadow"
                style="width:40%; margin-left: initial; margin-top: 20px; float:left;"
            >
                {% if issues %}
                    {% for issue in issues %}
                        <div
                            class="no-shadow"
                            align="center"
                            style="margin-top: 10px; width: 80%; height: 50px; border: 1px solid #4f8ac0;"
                        >
                            <p style="font-weight: bold; line-height: 50px; text-align:center; font-size: medium; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                {{ issue }}
                            </p>
                        </div>
                    {% endfor %}
                {% else %}
                    No data provided.
                {% endif %}
            </div>
            <div class="no-shadow" style="float: right; margin-top: 20px; width: 45%;">
                {% if key_rules_regs %}
                    <ul style="font-size: large; font-weight: bold;">
                        {% for rule_reg in key_rules_regs %}
                            <li type="circle">{{ rule_reg }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No data provided.
                {% endif %}
            </div>
            <div
                align="center"
                id="section-header"
                class="no-shadow"
                style="width: 55%; float: right; font-size: 1.4em; clear:right; padding:0; background-color: transparent;"
            >
                <div
                    class="no-shadow"
                    style="float:left; border-right: 5px solid; padding:10px; background-color: #184f7b; width:82%;"
                >
                    HOUSEHOLD INCOME
                    FROM SSF
                </div>
                <div
                    class="no-shadow"
                    style="float: left; padding: 10px 10px 8px;background-color: transparent; color:black; border:1px solid #184f7b; margin-left: 15px; width:15%;"
                >
                    {% if hh_income %}
                        {{ hh_income }}%
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div
                align="center"
                id="section-header"
                style="width: 55%; float: right; font-size: 1.4em; margin-bottom: 10px;"
            >
                NON-FISHING LIVELIHOOD ACTIVITIES
            </div>

            <div
                align="center"
                class="no-shadow"
                style="float:right; width:55%;"
            >
                <div class="no-shadow" style="float:left;  margin-left: 30px; margin-right: -70px;">
                    {% if non_fish_act %}
                        {% for activity in non_fish_act|slice:":3" %}
                            {% if activity %}
                                <div
                                    class="no-shadow"
                                    style="width:120px; height:50px; line-height: 50px; margin-top: 15px; font-size: 0.8em; overflow: hidden; border: 1px solid #4f8ac0;"
                                >
                                    {{ activity }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div
                            class="no-shadow"
                            style="width:120px; height:50px; border-radius:10px; line-height: 50px; margin-top: 15px; font-size: 0.8em; overflow: hidden; border: 1px solid #4f8ac0;"
                        >
                            No data provided
                        </div>
                    {% endif %}
                </div>
                <div class="no-shadow" style="float:left; width:75%; margin-top: 10px;">
                    <img src="{% static 'issf_base/img/TBTIflower.png' %}" style="width: 50%; height:50%;">
                </div>
                <div class="no-shadow" style="float:left; margin-left: -70px;">
                    {% for activity in non_fish_act|slice:"-3:" %}
                        {% if activity %}
                            <div
                                class="no-shadow"
                                style="width:120px; height:50px; line-height: 50px; margin-top: 15px; font-size: 0.8em; overflow: hidden;  border: 1px solid #4f8ac0;"
                            >
                                {{ activity }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div align="center" id="section-header" style="width: 40%; float: left;">
                GOVERNANCE
            </div>
            <div class="no-shadow" style="margin-top: 20px; float:left; clear:left; width:40%;">
                {% if governance %}
                    <ul style="margin-left: 50px; font-size: large; font-weight: bold;">
                        {% for gov in governance %}
                            <li type="circle">{{ gov }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No data provided.
                {% endif %}
            </div>
            <div
                class="no-shadow"
                style="border:1px solid #357ab7; float:right; width:45%; margin-top: -42px; margin-bottom: 20px; margin-right: 50px;"
            >
                {% if record.img_url %}
                    <img src="{{ record.img_url }}">
                {% endif %}
                <div class="no-shadow" style="background-color: #bdbdbd; padding-left: 10px;">
                    <style>p {margin: 0;}</style><!-- TODO this really has to go -->
                    <p>
                        <strong>Contributor:</strong>
                    </p>
                    <p style="margin-bottom: 10px;">
                        {% if who_page %}
                            <a
                                href="{% url 'who-details' who_page.issf_core_id %}"
                                style="color:#055bb7;"
                            >
                                {{ record.contributor }}
                            </a>
                        {% else %}
                            <a
                                href="mailto:{{ record.contributor.email }}"
                                target="_blank"
                                style="color:#055bb7;"
                            >
                                {{ record.contributor }}
                            </a>
                        {% endif %}
                    </p>

                    <p><strong>Date created:</strong></p>
                    <p style="margin-bottom: 10px;">{{ record.contribution_date }}</p>

                    <p><strong>For complete information about the profile, please visit:</strong></p>
                    <a href="{{ url }}" style="color:#055bb7;">
                        <strong>
                            https://issfcloud.toobigtoignore.net.ca{{ url }}
                        </strong>
                    </a>

                    <p style="margin-top: 10px;">
                        <a href="http://toobigtoignore.net/" target="_blank" style="color:#055bb7;">
                            <strong>toobigtooignore.net</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div style="width:32%; float:left;">
                <img src="{% static 'issf_base/img/TBTImedia.png' %}" style="border:1px solid #4d683a;">
            </div>
        </div>
    </body>
</html>
