{% extends 'issf_base/base.html' %}{% load leaflet_tags %}
{% load staticfiles %}
{% load profile_attributes %}

{% block additional_css_scripts %}
    {% leaflet_css %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{% static "details/css/details.css" %}">
{% endblock additional_css_scripts %}

{% block body %}
    {% autoescape off %}
        {% include "issf_base/loading-spinner.html" %}

        <title>
            {% block title %}
            ISSF: Organization -
            {{ organization_instance.organization_name }}
            {% endblock %}
        </title>

        <section class="content-section report" id="content-organize">
            <div class="row" id="main">
                <div class="large-12 columns page-title">
                    <span>
                        <a
                            href="https://twitter.com?screen_name=TBTInetwork&hashtags=tbtiissf&text=Your Comments!"
                            class="twitter-share-button"
                            data-lang="en"
                            data-size="large"
                        >
                        </a>
                    </span>

                    <h1>SSF Organization</h1>

                    <div class="basic-info">
                        <strong>{{ organization_instance.organization_name }}</strong>
                        | {{ organization_instance.country }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-9 columns">
                    <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation active">
                            {% if editor %}
                                <button class="bt-edit">edit</button>
                            {% endif %}

                            <a class="accordion-nav" href="#panel1">
                                Details
                            </a>

                            <div id="panel1" class="content">
                                <table>
                                    <tr>
                                        <td>
                                            <strong>Organization name</strong>
                                        </td>
                                        <td>{{ organization_instance.organization_name }}</td>
                                    </tr>
                                    {% if organization_instance.address1 %}
                                        <tr>
                                            <td>
                                                <strong>Address</strong>
                                            </td>
                                            <td>{{ organization_instance.address1 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.address2 %}
                                        <tr>
                                            <td>
                                                <strong>Address</strong>
                                            </td>
                                            <td>{{ organization_instance.address2 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.city_town %}
                                        <tr>
                                            <td>
                                                <strong>City/town</strong>
                                            </td>
                                            <td>{{ organization_instance.city_town }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.prov_state %}
                                        <tr>
                                            <td>
                                                <strong>Province/state</strong>
                                            </td>
                                            <td>{{ organization_instance.prov_state }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.postal_code %}
                                        <tr>
                                            <td>
                                                <strong>Postal code</strong>
                                            </td>
                                            <td>{{ organization_instance.postal_code }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.country %}
                                        <tr>
                                            <td>
                                                <strong>Country</strong>
                                            </td>
                                            <td>{{ organization_instance.country }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.year_established %}
                                        <tr>
                                            <td>
                                                <strong>Year established</strong>
                                            </td>
                                            <td>{{ organization_instance.year_established }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <strong>Organization type</strong>
                                        </td>
                                        <td>
                                            {% if organization_instance.organization_type_union %}
                                                union/association, {% endif %}
                                            {% if organization_instance.organization_type_support %}support
                                                organization, {% endif %}
                                            {% if organization_instance.organization_type_coop %}
                                                cooperative/society, {% endif %}
                                            {% if organization_instance.organization_type_flag %}fisheries local action
                                                group, {% endif %}
                                            {% if organization_instance.organization_type_other %}
                                                {{ organization_instance.organization_type_other_text }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>SSF definition applied?</strong>
                                        </td>
                                        <td>{{ organization_instance.ssf_defined }}</td>
                                    </tr>
                                    {% if organization_instance.ssf_definition != '' %}
                                        <tr>
                                            <td>
                                                <strong>SSF working definition</strong>
                                            </td>
                                            <td>{{ organization_instance.ssf_definition }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <strong>Motivation/goals</strong>
                                        </td>
                                        <td>
                                            {% if organization_instance.motivation_voice %}increase voice/representation
                                                in
                                                decision-making, {% endif %}
                                            {% if organization_instance.motivation_market %}improve market
                                                opportunities, {% endif %}
                                            {% if organization_instance.motivation_sustainability %}enhance
                                                sustainability, {% endif %}
                                            {% if organization_instance.motivation_economics %}address economic
                                                concerns, {% endif %}
                                            {% if organization_instance.motivation_rights %}promote/uphold SSF
                                                rights, {% endif %}
                                            {% if organization_instance.motivation_collaboration %}facilitate
                                                collaboration
                                                and networking, {% endif %}
                                            {% if organization_instance.motivation_other %}
                                                {{ organization_instance.motivation_other_text }}{% endif %}
                                        </td>
                                    </tr>
                                    {% if organization_instance.mission %}
                                        <tr>
                                            <td>
                                                <strong>Mission</strong>
                                            </td>
                                            <td>{{ organization_instance.mission }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <strong>Main activities</strong>
                                        </td>
                                        <td>
                                            {% if organization_instance.activities_capacity %}capacity building
                                                andknowledge
                                                mobilization, {% endif %}
                                            {% if organization_instance.activities_sustainability %}promotion of
                                                sustainable
                                                practices, {% endif %}
                                            {% if organization_instance.activities_networking %}development of
                                                networks/linkages, {% endif %}
                                            {% if organization_instance.activities_marketing %}marketing and business
                                                development, {% endif %}
                                            {% if organization_instance.activities_collaboration %}
                                                facilitatingcollaboration
                                                with scientists and/or officials, {% endif %}
                                            {% if organization_instance.activities_other %}
                                                {{ organization_instance.activities_other_text }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Networks/partnerships/collaborations with other organizations
                                            </strong>
                                        </td>
                                        <td>
                                            {% if organization_instance.network_types_state %}state/government
                                                agencies, {% endif %}
                                            {% if organization_instance.network_types_ssfos %}small-scale fishery
                                                organizations, {% endif %}
                                            {% if organization_instance.network_types_community %}community
                                                groups, {% endif %}
                                            {% if organization_instance.network_types_society %}civil society
                                                organizations, {% endif %}
                                            {% if organization_instance.network_types_ngos %}non-governmental
                                                organizations, {% endif %}
                                            {% if organization_instance.network_types_other %}
                                                {{ organization_instance.network_types_other_text }}{% endif %}
                                        </td>
                                    </tr>
                                    {% if organization_instance.achievements %}
                                        <tr>
                                            <td>
                                                <strong>Primary achievements</strong>
                                            </td>
                                            <td>{{ organization_instance.achievements|linebreaks }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.success_factors %}
                                        <tr>
                                            <td>
                                                <strong>Main success factors</strong>
                                            </td>
                                            <td>{{ organization_instance.success_factors|linebreaks }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if organization_instance.obstacles %}
                                        <tr>
                                            <td>
                                                <strong>Key obstacles to achieving goals</strong>
                                            </td>
                                            <td>{{ organization_instance.obstacles|linebreaks }}</td>
                                        </tr>
                                    {% endif %}
                                    {% for person in organization_instance.persons.all %}
                                        <tr>
                                            <td>{% ifchanged organization_instance %}
                                                <strong>Organization/Network/Association members
                                                </strong>{% endifchanged %}
                                            </td>
                                            <td>
                                                <a href="{% url 'who-details' person.issf_core_id %}">{{ person.contributor.first_name }} {{ person.contributor.initials }} {{ person.contributor.last_name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>
                                            <strong>Contributor</strong>
                                        </td>
                                        <td>
                                            {% autoescape on %}
                                            {% if who_page %}
                                                <a href="{% url 'who-details' who_page.issf_core_id %}">{{ core_instance.contributor }}</a>
                                            {% else %}
                                                <a href="mailto:{{ core_instance.contributor.email }}"
                                                   target="_blank">{{ core_instance.contributor }}</a>
                                            {% endif %}
                                            {% endautoescape %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Contribution date</strong>
                                        </td>
                                        <td>{{ core_instance.contribution_date|date:"SHORT_DATE_FORMAT" }}</td>
                                    </tr>
                                </table>
                                {% if editor %}
                                    <form action="{% url 'organization-basic' %}" method="post">
                                        <h6>Please provide the basic organization information.</h6>

                                        <p class="alert">
                                            <label>*</label>
                                            indicates required fields
                                        </p>
                                        {% csrf_token %}
                                        <div class="FormSet">
                                            <label for="id_org-organization_name">*Organization name:</label>
                                            {{ organization_form.organization_name }}
                                            <label for="id_org-address1">Address line 1:</label>
                                            {{ organization_form.address1 }}
                                            <label for="id_org-address2">Address line 2:</label>
                                            {{ organization_form.address2 }}
                                            <label for="id_org-city_town">City/town:</label>
                                            {{ organization_form.city_town }}
                                            <label for="id_org-prov_state">Province/state:</label>
                                            {{ organization_form.prov_state }}
                                            <label for="id_org-postal_code">Postal code:</label>
                                            {{ organization_form.postal_code }}
                                            <label for="id_org-country">*Country:</label>
                                            {{ organization_form.country }}
                                            <button class="medium radius blueOrangeButton" id="getAddress">Locate
                                                Address
                                                using Bing
                                            </button>
                                            <br/>
                                            <label for="id_org_organization_point">Address location (use the draw, edit
                                                and
                                                delete controls to set/modify; if you don't specify a location here, the
                                                organization will be mapped based on the country):
                                            </label>
                                            {{ organization_form.organization_point }}
                                            <label for="id_org-year_established">Year established:</label>
                                            {{ organization_form.year_established }}
                                            <label>Organization type (check all that apply):</label>
                                            <ul>
                                                <li>{{ organization_form.organization_type_union }}
                                                    <label
                                                            for="id_org-organization_type_union">Union/association
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.organization_type_support }}
                                                    <label
                                                            for="id_org-organization_type_support">Support organization
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.organization_type_coop }}
                                                    <label
                                                            for="id_org-organization_type_coop">Cooperative/society
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.organization_type_flag }}
                                                    <label
                                                            for="id_org-organization_type_flag">Fisheries local action
                                                        group
                                                    </label>
                                                </li>
                                                {#                                            incorrect label id used to allow other hide/show js code to work#}
                                                <li>{{ organization_form.organization_type_other }}
                                                    <label
                                                            for="id_organization_type_other">Other
                                                    </label>
                                                </li>
                                            </ul>
                                            <label for="id_org-organization_type_other_text">Other organization
                                                type:
                                            </label>
                                            {{ organization_form.organization_type_other_text }}
                                            <label for="id_org-ssf_defined">*Does the organization apply a small-scale
                                                fisheries definition?
                                            </label>
                                            {{ organization_form.ssf_defined }}
                                            <label for="id_org-ssf_definition">Provide working definition of small-scale
                                                fisheries (if applicable):
                                            </label>
                                            {{ organization_form.ssf_definition }}
                                            <label>Motivation/goals (check all that apply):</label>
                                            <ul>
                                                <li>{{ organization_form.motivation_voice }}
                                                    <label
                                                            for="id_org-motivation_voice">Increase voice/representation
                                                        in
                                                        decision-making
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_market }}
                                                    <label
                                                            for="id_org-motivation_market">Improve market opportunities
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_sustainability }}
                                                    <label
                                                            for="id_org-motivation_sustainability">Enhance
                                                        sustainability
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_economics }}
                                                    <label
                                                            for="id_org-motivation_economics">Address economic concerns
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_rights }}
                                                    <label
                                                            for="id_org-motivation_rights">Promote/uphold SSF rights
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_collaboration }}
                                                    <label
                                                            for="id_org-motivation_collaboration">Facilitate
                                                        collaboration
                                                        and
                                                        networking
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.motivation_other }}
                                                    <label
                                                            for="id_motivation_other">Other
                                                    </label>
                                                </li>
                                            </ul>
                                            <label for="id_org-motivation_other_text">Other motivation/goal:</label>
                                            {{ organization_form.motivation_other_text }}
                                            <label for="id_org-mission">Mission:</label>
                                            {{ organization_form.mission }}
                                            <label>Main activities (check all that apply):</label>
                                            <ul>
                                                <li>{{ organization_form.activities_capacity }}
                                                    <label
                                                            for="id_org-activities_capacity">Capacity building and
                                                        knowledge
                                                        mobilization
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.activities_sustainability }}
                                                    <label
                                                            for="id_org-activities_sustainability">Promotion of
                                                        sustainable
                                                        practices
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.activities_networking }}
                                                    <label
                                                            for="id_org-activities_networking">Development of
                                                        networks/linkages
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.activities_marketing }}
                                                    <label
                                                            for="id_org-activities_marketing">Marketing and business
                                                        development
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.activities_collaboration }}
                                                    <label
                                                            for="id_org-activities_collaboration">Facilitating
                                                        collaboration
                                                        with scientists and/or officials
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.activities_other }}
                                                    <label
                                                            for="id_activities_other">Other
                                                    </label>
                                                </li>
                                            </ul>
                                            <label for="id_org-activities_other_text">Other activity:</label>
                                            {{ organization_form.activities_other_text }}
                                            <label>Networks/partnerships/collaborations with other organizations (check
                                                all
                                                that apply):
                                            </label>
                                            <ul>
                                                <li>{{ organization_form.network_types_state }}
                                                    <label
                                                            for="id_org-network_types_state">State/government agencies
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.network_types_ssfos }}
                                                    <label
                                                            for="id_org-network_types_ssfos">Small-scale fishery
                                                        organizations
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.network_types_community }}
                                                    <label
                                                            for="id_org-network_types_community">Community groups
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.network_types_society }}
                                                    <label
                                                            for="id_org-activities_marketing">Civil society
                                                        organizations
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.network_types_ngos }}
                                                    <label
                                                            for="id_org-network_types_ngos">Non-governmental
                                                        organizations
                                                    </label>
                                                </li>
                                                <li>{{ organization_form.network_types_other }}
                                                    <label
                                                            for="id_network_types_other">Other
                                                    </label>
                                                </li>
                                            </ul>
                                            <label for="id_org-network_types_other_text">Other
                                                networks/partnerships/collaborations:
                                            </label>
                                            {{ organization_form.network_types_other_text }}
                                            <label for="id_org-achievements">Primary achievements:</label>
                                            {{ organization_form.achievements }}
                                            <label for="id_org-success_factors">Main success factors:</label>
                                            {{ organization_form.success_factors }}
                                            <label for="id_org-obstacles">Key obstacles to achieving goals:</label>
                                            {{ organization_form.obstacles }}
                                            <label for="id_org-contributor">*Contributor (note: this is the only person,
                                                other than ISSF staff, who can edit the record):
                                            </label>
                                            {{ organization_form.contributor }}
                                        </div>

                                        <input
                                            id="issf_core_id" type="hidden"
                                            value="{{ organization_instance.issf_core_id }}" name="issf_core_id"
                                        >

                                        <div class="button-bar">
                                            <button class="medium radius submit bt-submit">Submit</button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            {% if editor %}
                                <button class="bt-edit">edit</button>
                            {% endif %}

                            <a class="accordion-nav" href="#panel4">Geographic scope</a>

                            <div id="panel4" class="content">
                                <table>
                                    {% if core_instance.geographic_scope_type == 'Regional' %}
                                        {% for gsregion in geographic_scope_region %}
                                            <tr>
                                                <td>{% ifchanged core_instance.geographic_scope_type %}
                                                    <strong>{{ core_instance.geographic_scope_type }}</strong>{% endifchanged %}
                                                </td>
                                                <td>{{ gsregion.region.region_name }}
                                                    {% if gsregion.region.region_name == 'Other' %}:
                                                        {{ gsregion.region_name_other }}{% endif %}</td>
                                                <td>{% for gsregioncountry in gsregion.countries.all %}
                                                    {{ gsregioncountry.short_name }}, {% endfor %}</td>
                                            </tr>
                                        {% endfor %}
                                    {% elif core_instance.geographic_scope_type == 'National' %}
                                        <tr>
                                            <td>
                                                <strong>{{ core_instance.geographic_scope_type }}</strong>
                                            </td>
                                            {#                                        <td>{% for gsnation in geographic_scope_nation %}{{ gsnation.country.short_name }}, {% endfor %}</td>#}
                                            <td>{% for country in core_instance.countries.all %}
                                                {{ country.short_name }}
                                                , {% endfor %}</td>
                                        </tr>
                                    {% elif core_instance.geographic_scope_type == 'Sub-national' %}
                                        {% for gssubnation in geographic_scope_subnation %}
                                            <tr>
                                                <td>{% ifchanged core_instance.geographic_scope_type %}
                                                    <strong>{{ core_instance.geographic_scope_type }}</strong>{% endifchanged %}
                                                </td>
                                                <td>{{ gssubnation.subnation_name }}</td>
                                                <td>{% if gssubnation.subnation_type == 'Other' %}
                                                    {{ gssubnation.subnation_type_other }}{% else %}
                                                    {{ gssubnation.subnation_type }}{% endif %}</td>
                                                <td>{{ gssubnation.country.short_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% elif core_instance.geographic_scope_type == 'Local' %}
                                        {% for gslocal in geographic_scope_local_area %}
                                            <tr>
                                                <td>{% ifchanged core_instance.geographic_scope_type %}
                                                    <strong>{{ core_instance.geographic_scope_type }}</strong>{% endifchanged %}
                                                </td>
                                                <td>{{ gslocal.local_area_name }}
                                                    {% if gslocal.local_area_alternate_name|length > 0 %} (
                                                        {{ gslocal.local_area_alternate_name }}){% endif %}</td>
                                                <td>{% if gslocal.local_area_setting == 'Other' %}
                                                    {{ gslocal.local_area_setting_other }}{% else %}
                                                    {{ gslocal.local_area_setting }}{% endif %}</td>
                                                <td>{{ gslocal.country.short_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>{{ core_instance.geographic_scope_type }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                                {#                        {% endautoescape %}#}
                                {% if editor %}
                                    <form action="{% url 'geographic-scope' %}" method="post">
                                        <h6>Please indicate the primary geographic scope of the organization's
                                            work
                                        </h6>

                                        <p class="alert">
                                            <label>*</label>
                                            indicates required fields
                                        </p>
                                        {% csrf_token %}
                                        <div class="FormSet FormSetToggler">
                                            {{ geographic_scope_form }}
                                        </div>
                                        <div class="FormSet FormSetTogglable FormSetGrowable">
                                            {{ local_area_form }}
                                        </div>
                                        <div class="FormSet FormSetTogglable FormSetGrowable">
                                            {{ subnation_form }}
                                        </div>
                                        <div class="FormSet FormSetTogglable">
                                            {{ nation_form }}
                                        </div>
                                        <div class="FormSet FormSetTogglable FormSetGrowable">
                                            {{ region_form }}
                                        </div>

                                        <input id="issf_core_id" type="hidden" value="{{ core_instance.issf_core_id }}"
                                               name="issf_core_id">

                                        <div class="button-bar">
                                            <button class="medium radius submit bt-submit">Submit</button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            <a class="accordion-nav" href="#panel1b">Map</a>

                            <div id="panel1" class="content">
                                {% leaflet_map "report-map" callback="window.map_init_basic" %}
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            {% if editor %}
                                <button class="bt-edit">edit</button>{% endif %}
                            <a class="accordion-nav" href="#panel2">Themes/Issues</a>

                            <div id="panel2" class="content">
                                <table>
                                    {% for common_ti in common_themes_issues %}
                                        <tr>
                                            {% ifchanged common_ti.theme_issue.theme_issue_category %}
                                                <td>
                                                    <strong>
                                                        {{ common_ti.theme_issue.theme_issue_category }}
                                                    </strong>
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endifchanged %}
                                            <td>
                                                {% if common_ti.theme_issue_value.theme_issue_label == "Other" %}
                                                    {{ common_ti.theme_issue_value }}: {{ common_ti.other_theme_issue }}
                                                {% else %}
                                                    {% if common_ti.theme_issue_value %}
                                                        {{ common_ti.theme_issue_value }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {% if editor %}
                                    <form class="accordionFormsetGrowable" action="{% url 'common-themes-issues' %}"
                                          method="post">

                                        <h6>Please select values for the themes/issues below</h6>

                                        {% csrf_token %}

                                        <div class="FormSet">
                                            <!- Layout for Themes/Issues' section's editor.
                                            Had to implement manually because crispy_forms wouldn't
                                            work.-->
                                            <table class="profile-attributes-table">
                                                {% for form in common_themes_issues_formset.forms %}
                                                    {% with  label=form.theme_issue.value|lookup_theme_issue_label %}
                                                        {% ifchanged label %}
                                                            <tr class="profile-label-row">
                                                                <td>
                                                                <span>
                                                                    <strong>
                                                                        {{ label }} (select ALL that
                                                                        apply)
                                                                    </strong>
                                                                </span>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        {% endifchanged %}

                                                        <tr class="profile-attributes-row">
                                                            <td id="value-type"
                                                                data-attr-type="Qualitative">
                                                                {{ form.theme_issue_value }}
                                                            </td>

                                                            {{ form.other_theme_issue }}

                                                            <td>
                                                            </td>

                                                            <!-- These fields must be on the page, but hidden, in order to
                                                            satisfy Django and the database.-->
                                                            {{ form.theme_issue }}
                                                            {{ form.row_number }}
                                                            {{ form.selected_theme_issue_id }}
                                                            {{ form.issf_core }}

                                                            <div class="deleteCheckBoxContainer">
                                                                {{ form.DELETE }}
                                                            </div>
                                                        </tr>
                                                    {% endwith %}
                                                {% endfor %}
                                            </table>
                                        </div>

                                        {{ common_themes_issues_formset.management_form }}
                                        <input id="issf_core_id" type="hidden"
                                               value="{{ core_instance.issf_core_id }}"
                                               name="issf_core_id">

                                        <div class="button-bar">
                                            <button class="medium radius submit bt-submit">Submit
                                            </button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </dd>
                        <dd class="accordion-navigation">
                            {% if editor %}
                                <button class="bt-edit">edit</button>{% endif %}
                            <a class="accordion-nav" href="#panel7">External links</a>

                            <div id="panel7" class="content">
                                <table>
                                    {% for external_link in external_links %}
                                        <tr>
                                            <td>{{ external_link.link_type }}</td>
                                            <td>
                                                <a href="{{ external_link.link_address }}"
                                                   target="_blank">{{ external_link.link_address }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {% if editor %}
                                    <form action="{% url 'external-links' %}" method="post">
                                        <h6>Please provide links to related material on the internet</h6>
                                        {% csrf_token %}
                                        <div class="FormSet FormSetGrowable">
                                            {{ external_links_form }}
                                        </div>
                                        <input id="issf_core_id" type="hidden" value="{{ core_instance.issf_core_id }}"
                                               name="issf_core_id">

                                        <div class="button-bar">
                                            <button class="medium radius submit bt-submit">Submit</button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="large-3 columns">
                    <!--domain hard-coded because request.get_host broke under https-->
                    <div class="fb-comments"
                         data-href="https://issfcloud.toobigtoignore.net{% url 'organization-details' issf_core_id=core_instance.issf_core_id %}"
                         data-width="220" data-numposts="3" data-colorscheme="light"></div>
                </div>
                {% if editor %}
                    <a href="#" data-reveal-id="deleteModal" class="button radius"
                       style="background-color: #525252; position: absolute; right:5px; bottom:-10px;">
                        Delete Record
                    </a>
                    <div id="deleteModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle"
                         aria-hidden="true"
                         role="dialog">
                        <form class="deleteForm" action="{% url 'delete-record' core_instance.issf_core_id %}">
                            <div class="row">
                                <div class="large-5 columns">
                                    <p>WARNING</p>

                                    <p>Are you sure you want to
                                        <b style="color:red;">PERMANENTLY</b>
                                        delete this record?
                                        <br>
                                        Once deleted, the record content cannot be recovered.
                                    </p>

                                    <button class="button radius" style="background-color: #B70000; margin-right:10px;"
                                            type="submit">DELETE
                                    </button>
                                    <a href="#" class="button radius close-reveal-modal"
                                       style="font-size: 1rem; position: initial; font-weight: normal; line-height: normal; color: white;">
                                        CANCEL
                                    </a>
                                </div>
                            </div>
                        </form>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endautoescape %}
{% endblock body %}

{% block additional_js_scripts %}
    {% leaflet_js %}

    <script src="{% static "details/js/map-setup.js" %}" type="text/javascript"></script>
    <script src="{% static "details/js/error-handling.js" %}" type="text/javascript"></script>
    <script src="{% static "details/js/page-functions.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
        // this function serves as a junction between the Leaflet map and
        // the initialization functionality in map_init_basic_ext() can be found in map-setup.js
        function map_init_basic(map, options) {
            var dataurl = '{% url "map-data" %}?issf_core_id={{ core_instance.issf_core_id }}';
            var orgIcon = L.icon({
                iconUrl: '{% static "img/icon-organizations.png" %}',
                iconSize: [24, 24],
                iconAnchor: [12, 12],
                popupAnchor: [0, 0]
            });

            map_init_basic_ext(map, options, dataurl, orgIcon);
        }

        // all the map initialization functionality is handled by this function call.
        // the function can be found in map-setup.js
        map_handler();

        // this function handles all form errors; both field- and form-level.
        // it can be found in error-handling.js
        error_handler();

        //-------------- Get Address ------------
        $('#getAddress').click(function (e) {
            e.preventDefault();

            var url = "{% url 'geocode-address' %}";

            var address = {};
            address.address1 = $('#id_org-address1').val();
            address.address2 = $('#id_org-address2').val();
            address.city_town = $('#id_org-city_town').val();
            address.prov_state = $('#id_org-prov_state').val();
            address.postal_code = $('#id_org-postal_code').val();
            address.country = $('#id_org-country').val();

            //lookup address using Bing's geocoding service, all functionality is handled in this getAddress() call
            getAddress(address, "#id_org_organization_point", "id_org_organization_point_map", url);
        });
    </script>
{% endblock additional_js_scripts %}
