
<div id="privacy-policy">
    <div class="policy-container">
        <h1>ISSF Public Information Policy</h1>
        
        <p>
            Thank you for registering as a user of the Information System on Small-scale Fisheries (ISSF). Registered users are eligible to contribute information to ISSF. 
            All contributed information is publicly available and your user profile, including your email, is attached to your contributions.
        </p>

        <p>
            If you are using an assigned password, please 
            <a [routerLink]="['/account','change-password']" >Change Password</a> 
            now.
        </p>
        
        <p>
            Then, please update your 
            <a [routerLink]="['/account']" >User Account</a>.
        </p>
        
        <p>
            After that, please explore 
            <a [routerLink]="['/search']" >existing data</a> 
            and
            <a [routerLink]="['/contribute']" >contribute</a>.
        </p>
    </div> <!-- /privacy-container -->
</div> <!-- /privacy-policy -->