
<div id="visual3" class="visual-container">
	<div class="visual-content">
		<div class="sort">
            <label>
                <input type="checkbox" id="sort">
                <span>Sort by Country</span>
            </label>
		</div>
	

		<svg id="chart"></svg><br>
		<p>This visualisation shows different types of injustice to small-scale fisheries taking place in various case study locations.</p>
		<ul>
			<li>Number on top of the histogram shows the number of case studies reported in each country</li>
			<li>Mouseover the justice type in a country to see the total reported number for that type</li>
			<li>Results can be sorted by country, click "Sort by Country" </li>
		</ul>
	</div> <!-- /visual-content -->
</div> <!-- /visual-container -->
