
<div id="visual5">
    <div id="sota-header">
        <h3>State-of-the-Art in SSF Research</h3>
        <ul>
            <li>This visualization shows top 12 countries with the highest number of total themes/issues reported.</li>
            <li>First number shows a sum of themes/issues reported while the second number shows the number of ISSF records for the country.</li>
            <li>Click "Select Countries" to explore other countries.</li>
        </ul>
    </div>


    <div id="sotaDiv" class="svg-container">
        <svg id='barSvg'></svg>
        <svg id='sliderSvg'></svg><br><br>
    </div>


    <div id="firstDiv">
        <input type="checkbox" id="sort" hidden>
        <label>
            <input type="checkbox" id="selectedCountries" checked>
            <span>Select Countries</span>
        </label>
        <div id="dropDiv"></div>
    </div>
</div>