{% extends 'issf_base/base.html' %}
{% load js_reverse %}
{% load staticfiles %}

{% block additional_css_scripts %}
    <link rel="stylesheet" href="{% static "details/css/details.css" %}">
{% endblock additional_css_scripts %}

{% block body %}
    <section class="content-section report">
        <div class="row">
            <h5>New Choropleth GeoJSON File Upload</h5>
            <h5 style="color: black;">NOTE: Once this is changed, the previous choropleth data will be erased!</h5>
            <div class="large-9 columns">
                <form style="display:initial;" action="{% url 'geojson-upload' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 style="color: red;">{{ form_error }}</h5>
                    {{ form }}
                    <div class="button-bar" style="margin-top: 10px; margin-bottom: 10px;">
                        <button class="medium radius submit bt-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}