{% extends 'issf_base/base.html' %}
{% load staticfiles %}

{% block additional_css_scripts %}
    <link rel="stylesheet" href="{% static "details/css/details.css" %}">
{% endblock additional_css_scripts %}

{% block body %}
    <section id="geojson-upload-container" class="content-section report">
        <div class="row">
            <h4>New Choropleth GeoJSON File Upload</h4>
            <p><strong>NOTE:</strong> Once this is changed, the previous choropleth data will be erased! </p>
            
            <div>
                <form style="display:initial;" action="{% url 'geojson-upload' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 style="color: red;">{{ form_error }}</h5>
                    {{ form }}
                    
                    <div class="button-bar" style="text-align: left;">
                        <button class="medium radius submit bt-submit" style="margin-left: 0;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
