{% extends 'issf_base/base.html' %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block additional_css_scripts %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'issf_base/DataTables-1.10.2/media/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/frontend.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css">
{% endblock additional_css_scripts %}

{% block body %}
<section id="body-section">
    <div class="row">
        <!-- Main Map -->
        <div class="map-holder content active" id="tab-map">
            <div class="headline"></div>
            {% leaflet_map "map" callback="window.map_init_basic" %}
        </div>
    </div>
</section>
{% endblock body %}

{% block additional_js_scripts %}
    {% leaflet_js plugins="cluster,navbar,binggeocoder" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'frontend/js/chorodata.json' %}"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script>
        var GlobalNewLoad = false;
        var GlobalMapChangeFlag = false;

        /* ===== Leaflet ===== */
        // Prepare everything in map except markers
        var GlobalMapHandle = null;
        var GlobalTableHandle = null;
        var geojson, choroControl, legend, extloadChoropleth;
        var min = Number.MAX_SAFE_INTEGER;
        var max = Number.MIN_SAFE_INTEGER;

        function map_init_basic(map, options) {
            GlobalMapHandle = map;

            //Set bounds for the map
            map.setMaxBounds([[-70,-180],[90,180]]);

            // Setup basemaps
            var baseLayers = {
                "OpenStreetMap": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
            };

            function getColor(d) {
                var quarts = quantScale.quantiles();
                var l = quarts.length - 1;
                if (d >= 0 && d !== null) {
                    if (d === quantScale(quarts[l])) {
                        return '#fe9929';
                    }
                    else if (quantScale(quarts[l - 1]) <= d && d < quantScale(quarts[l])) {
                        return '#f9bb3e';
                    }
                    else if (quantScale(quarts[l - 2]) <= d && d < quantScale(quarts[l - 1])) {
                        return '#ffda6b';
                    }
                    else if (quantScale(quarts[l - 3]) <= d && d < quantScale(quarts[l - 2])) {
                        return '#fcf09c';
                    }
                    else if (d < quantScale(quarts[l - 3])) {
                        return '#ffffe5';
                    }
                    else {
                        return '#ffffff';
                    }
                } else {
                    return '#d6d6d6';
                }
            }

            var quantScale;
            function style(feature) {
                var choroProp = localStorage.getItem('choroProp');

                if (!choroProp) {
                    choroProp = "SubMap2_SSF_2";
                }

                var featProp = feature.properties[choroProp];
                var colourVal;
                if (featProp !== null) {
                    colourVal = quantScale(featProp);
                    if (colourVal < 0) {
                        colourVal = 0;
                    }
                }
                else {
                    colourVal = null;
                }

                return {
                    fillColor: getColor(colourVal),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '',
                    fillOpacity: 0.7
                };
            }

            function highlightFeature(e) {
                var layer = e.target;
                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7,
                    opacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera) {
                    layer.bringToFront();
                }

                choroControl.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                var layer = e.target;
                geojson.setStyle(style);
                choroControl.update(layer.feature.properties);
            }

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            var prop_vals = [];

            function onEachFeature(feature, layer) {
                prop_vals.push(feature.properties[localStorage.getItem("choroProp")]);
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }

            // Custom info popup for choropleth layer
            choroControl = L.control();

            choroControl.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'choroControl'); // create a div with a class "info"
                this.update();
                return this._div;
            };

            function formatChoroProp(x, sep, grp) {
                if (x === null || x === "-") return "No Data";
                var num = Math.round(x);
                if (x.length > 3) {
                    var sx = ('' + num).split('.'), s = '', i, j;
                    sep || (sep = ','); // default seperator
                    grp || grp === 0 || (grp = 3); // default grouping
                    i = sx[0].length;
                    while (i > grp) {
                        j = i - grp;
                        s = sep + sx[0].slice(j, i) + s;
                        i = j;
                    }
                    s = sx[0].slice(0, i) + s;
                    sx[0] = s;
                    return sx.join('.');
                } else {
                    return num;
                }
            }

            // Method used to update the control based on feature properties passed
            choroControl.update = function (props) {
                this._div.innerHTML = (props ? '<h5><b>' + props.name + '</b></h5>' +
                    localStorage.getItem('choroPropTitle') + ': ' +
                    formatChoroProp(props[localStorage.getItem("choroProp")]) : 'Hover over a country');
            };

            // Legend for choropleth layer
            legend = L.control({position: 'bottomleft'});

            legend.onAdd = function (map) {
                var div = L.DomUtil.create('div', 'info legend');
                var grades = [];
                labels = [];

                div.style.maxWidth = '60%';
                div.style.fontSize = '10pt';
                var choroSelect = '<select id="choroProps">';
                // Get any layer from geojson since all have the same properites
                var layer = geojson.getLayers()[0];
                var props = Object.keys(layer.feature.properties);
                var optionTitle, optionUnits, optionVal;
                for (var i = 0; i < props.length; i++) {
                    if (props[i].includes("SSF_")) {
                        optionTitle = layer.feature.properties[props[i]];
                        optionVal = layer.feature.properties[props[i + 1]];
                        optionUnits = layer.feature.properties[props[i + 2]];
                        choroSelect += '<option id="' + optionVal + '" value="' + props[i + 1] + '" ';

                        //set selected option to current choropleth property
                        if (props[i + 1] === localStorage.getItem("choroProp")) {
                            choroSelect += 'selected="selected"'
                        }
                        choroSelect += '>' + optionTitle + ' (' + optionUnits + ')' + '</option>';
                        i += 2;
                    }
                }
                choroSelect += '</select>';
                div.innerHTML += choroSelect;

                div.innerHTML += '<i style="background: #d6d6d6"></i> No data</br>';
                var quantiles = quantScale.quantiles();
                if (quantiles[0]) {
                    quantiles.unshift(0);
                }
                for (var i = 0; i < quantiles.length; i++) {
                    div.innerHTML +=
                        '<i style="background:' + getColor(quantScale(quantiles[i])) + '"></i> ' +
                        (Math.round(quantiles[i]) + (i===0?0:1)) + (Math.round(quantiles[i + 1]) >= 0 ? '&ndash;' +
                        Math.round(quantiles[i + 1]) + '<br>' : '+');
                }

                var stop = L.DomEvent.stopPropagation;
                L.DomEvent
                    .on(div, 'click', stop)
                    .on(div, 'mousedown', stop);

                return div;
            };
            loadChoropleth();


            // This flag is needed to check if LoadChoropleth was loaded internally.
            function loadChoropleth() {
                if (geojson) {
                    map.removeLayer(geojson);
                }
                geojson = L.geoJson(choroData, {onEachFeature: onEachFeature});
                quantScale = d3.scaleQuantile().domain(prop_vals).range([0, 20, 40, 60, 80]);
                prop_vals = [];
                geojson.setStyle(style);
                geojson.addTo(map);

                if (($('div.info.legend').length)) {
                    map.removeControl(choroControl);
                    map.removeControl(legend);
                }
                choroControl.addTo(map);
                legend.addTo(map);
                $('#choroProps').on('change', function () {
                    localStorage.setItem('choroProp', $(this).children(':selected').attr('value'));
                    localStorage.setItem('choroPropTitle', $(this).children(':selected').text());
                    max = min = 0;
                    loadChoropleth();
                });
            }
        }
    </script>
    
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=r6zHiLKHtnlqqDuyu2YBfU2JxAnowqE5"></script>
{% endblock additional_js_scripts %}