{% extends 'issf_base/base.html' %}
{% load staticfiles %}

{% block additional_css_scripts %}
    <link rel="stylesheet" href="{% static "details/css/details.css" %}">
{% endblock additional_css_scripts %}

{% block body %}
    <section id="who-feature-container" class="content-section report">
        <div class="row">
            <h4 style="margin: 20px 0px 10px; font-size: 22px;">New Who's Who Feature</h4>
            <p><strong>NOTE:</strong> Once this is changed, the previous Who's Who feature will be erased!</p>
            
            <div>
                <form style="display:initial;" action="{% url 'who-feature' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="button-bar" style="margin-top: 10px; margin-bottom: 10px;">
                        <button class="medium radius submit bt-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
