
<div id="visual-mshare" class="visual-mshare-center">
    <h3>This visualisation shows distribution of SSF products in the market chain, based on contributed records in ISSF</h3>
	<ul>
		<li>Click the country on the map to see its SSF market and distribution channel(s)</li>
		<li>Mouseover the pie chart to see specific SSF market and distribution channel across the globe</li>
		<li>Drag and scroll to zoom in on a country</li>
		<li>Click "Reset" button to view the initial state of the map</li>
	</ul> 


    <button id="reset-button">Reset</button>


    <div id="mshare-svg"></div>
	<div id="mshare-svg-pie" class="container-fluid"></div>
</div>