
<div id="visual-wiw" class="visual-wiw-center container-fluid">
    <div id="toolbar" class="row">
        <div class="col-12">
            <button id="all" class="button active">All</button>
            <button id="region" class="button">By Region</button>
        </div>
    </div>

    
    <div class="row content">
        <div class="col-9 svg-container" id="chartDiv"></div>
        <div class="col-3">
            <div id="tableDiv"></div>
        </div>
    </div>
    
    
    <div class="row" id="footerDiv">
        <div class="col-12">
            <p>This visualisation shows the number of researchers in different countries</p>
            <ul id="visual-wiw-info">
                <li>Mouse over the region legend to highlight the countries</li>
                <li>Click the country name or region legend to see the list of researchers</li>
                <li>Click ‘By Region’ to see clusters of countries</li>
            </ul>
        </div>
    </div>
</div> 
