
<div id="visual7" class="visual7-center container-fluid">
	<div class="row">
		<div id="visual7-chart" class="visual7-Column1 svg-container col-8"></div>
		<div id="visual7-right" class="visual7-Column1 col-4">
            <div class="row">
                <div id="visual7_dropdown" class="col-12"></div>
            </div>

            <div class="row">
                <div id="labelCheck" class="col-12">
                    <label id="visual7-lockCheckboxLabel" for="visual7-lockCheckbox"> <input type="checkbox" id="visual7-lockCheckbox"> <span>Lock</span></label>
                </div>
            </div>
            
			<div class="row">
                <div id="visual7-pieChart" class="col-12"></div>
            </div>
		</div>
    </div>
    

    <div id="visual7-footerDiv" class="col-12">
        <p>This visualization shows themes/issues covered in SSF research in various countries</p>
        <ul id="visual7-info">
            <li>Mouseover country line or select from dropdown list to see country info</li>
            <li>Mouseover dots on country line to see details for certain years</li>
            <li>Check "Lock" or click anywhere on country line to prevent moving to other countries</li>
            <li>Explore countries by region using dropdown list and check "Lock"</li>
        </ul>
    </div>
</div>