.password-form fieldset {
    box-sizing: border-box;
    padding: 30px 30px 20px;
    border: 1px solid #ccc;
    margin-top: 5px;
}


.password-form legend {
    font-weight: 500;
    font-size: 27px;
}


.password-form .update-status {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 25px;
}


.password-form .update-status.success {
    color: green;
}


.password-form .update-status.error {
    color: red;
}


.password-form form {
    float: left;
    width: 100%;
}


.password-form label {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}


.password-form span {
    font-size: 17px;
    font-weight: 500;
}


.password-form input {
    float: left;
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
}


.password-form .text-value {
    background: #f8f8f8;
    margin-bottom: 0;
}


.password-form button {
    width: 200px;
    margin-left: 0px;
    margin-right: 10px;
}


.password-form button.cancel-form {
    background: #f44336;
    border: 1px solid #f44336;
}


.password-type {
    font-weight: 500;
    font-size: 19px;
    color: #2699fb;
    font-style: italic;
    margin-bottom: 20px;
}


.reset-password {
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid #ccc;
}


.reset-password h3 {
    color: #333;
    margin-bottom: 10px !important;
}


.reset-password p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}


.reset-password p strong {
    margin-right: 5px;
}


.reset-password label {
    margin-bottom: 0 !important;
}


.reset-password label span {
    display: block;
}


.reset-password input {
    clear: both;
    margin-top: 10px;
}


.reset-password button {
    margin-top: 20px;
}




@media only screen and (max-width: 1023px) {
    .password-form legend {
        font-size: 22px;
    }


    .contribution-by-panel h3 {
        font-size: 20px;
        line-height: 25px;
    }
}


@media only screen and (max-width: 767px) {
    .password-form fieldset {
        width: 100%;
        padding: 20px 15px;
        margin-bottom: 15px;
    }


    .password-form form {
        margin-bottom: 20px;
    }
}
