
<div class="password-form">
    <form #passwordChangeForm #form="ngForm" (ngSubmit)="onSubmit(form)">
        <fieldset>
            <legend>Password Settings</legend>

            <p 
                *ngIf="updateStatus"
                class="update-status" 
                [innerHTML]="updateStatus"
                [class]="error ? 'error' : 'success'"
            ></p>

            <div class="change-password">
                <h3 class="password-type">Update Password</h3>
                <label>
                    <span>Current Password: <em class="required">*</em></span>
                    <input type="password" name="current_password" placeholder="Current Password" required ngModel />
                </label>

                <label>
                    <span>New Password <em class="required">*</em></span>
                    <input type="password" name="new_password" placeholder="New Password" required ngModel />
                </label>                        

                <label>
                    <span>Confirm Password <em class="required">*</em></span>
                    <input type="password" #confirmPassword name="confirm_password" placeholder="Confirm Password" required ngModel />
                </label>                        
                
                <button #submitBtn type="submit">Submit</button>
            </div> <!-- /change-password -->
        </fieldset>
    </form>
</div> <!-- /password-form -->