/* Dynamic Forms */
.FormSet {
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 3px;
}

.FormSection {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.4);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.4);
    box-shadow: 3px 3px 5px rgba(0,0,0,.4);
    background-color: #fff;
}

.FormSectionBanner {
    background-color: #2699FB;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}

.FormSectionBanner-contribute {
    width: 1000px;
    margin: .25rem auto 1rem auto;
}

.FormProgressBar {
    height: 40px;
    width: auto;
    margin: -8px auto;
}

/* Geog Scope Specific*/
.FormGeog {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* until i can figure out how to remove the asterisks */
.FormGeog sup { 
    visibility: hidden;
}

/* the scope buttons list */
.FormGeog > ul {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

/* the scope buttons */
.FormGeog > ul > li {
    background-color: #2699FB;
    border-radius: 25px;
    padding: 5px 25px;
    border: 3px solid #fbcd04;
    transition: all 0.3s ease;
}

.FormGeog > ul > li:hover {
    transform: scale(1.1);
}

.FormGeog > ul > li:active {
    transform: scale(0.99);
}

.FormGeog > ul > li > label {
    display: flex;
    margin: -20px;
    padding: 20px;
    font-weight: bold;
    color: #fbcd04;
    align-items: center;
}

ul#id_geographic_scope_type input[type="radio"] {
    margin-right: 10px;
    visibility: hidden;
}

ul#id_geographic_scope_type input[type="radio"]::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    padding-right: 5px;
    margin-left: -5px;
    margin-top: 7px;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #4D4F5C;
}

ul#id_geographic_scope_type input[type="radio"]:checked::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    padding-right: 5px;
    margin-left: -5px;
    margin-top: 7px;
    background-color: #fbcd04;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #4D4F5C;
}

.FormGeogLabel > label {
    color: #4D4F5C;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Toggler */
.FormSetToggler > p {
	font-size: 2em;
}
.FormSetToggler > ul {
	list-style: none;
    padding: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.FormSetToggler > input {
	display: inline-block;
}

/* Toggable */
.FormSetTogglable {
	display: none;
}

/* Growable Qualitative Selection (Profile Page: Main Characteritics) */
table.profile-attributes-table input[type="text"],
table.profile-attributes-table select,
table.profile-attributes-table .mainCharacteristicsUnitsWrapper,
table.profile-attributes-table button {
    height: 30px !important;
    margin: 0px !important;
    margin-bottom: 5px !important;
}

table.profile-attributes-table .mainCharacteristicsUnitsWrapper,
table.profile-attributes-table .QualitativeButton {
    width: 35px !important;
}

table.profile-attributes-table .mainCharacteristicsUnitsWrapper {
    padding-top:8px !important;
}

table.profile-attributes-table .mainCharacteristicsRowHover>td:nth-child(1) {
    color: gray;
}

table.profile-attributes-table button,
select[name^='mainattributeview'],
input[name^='mainattributeview'] {
    margin-bottom: 3px !important;
}

.otherInputOnFocus, .otherSelectOnFocus {
    -webkit-box-shadow: 0 0 3px 3px #FF9317 !important;
    box-shadow: 0 0 3px 3px #FF9317 !important;
}

/* Hides the delete checkboxes */
.deleteCheckBoxContainer {
    height:0px;
    overflow: hidden;
}

/* Line break */
.issf-linebreak {
	-webkit-box-shadow: 1px 1px 0px 1px #ccc;
	box-shadow: 1px 1px 0px 1px #ccc;
}

.hidden {
    display: none !important;
}

.addFormSetButton {
    margin-top: 12px;
}
