{% load staticfiles %}
{% load i18n %}
{% load js_reverse %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta
            name="description"
            content="ISSF, Information System on Small-scale Fisheries, Fish, Seafood, Crowdsourcing, Public Contribution"
        >
        <meta name="author" content="Too Big To Ignore">
        <meta
            name="google-translate-customization"
            content="619d9e4b12097142-e4051ce1d3f4b9a6-gc9d1921458bbd665-13"
        >

        <title>{% block title %}ISSF: Information System on Small-scale Fisheries{% endblock %}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet" href="{% static 'issf_base/foundation/css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'issf_base/issf-js/jquery-ui-1.11.1.custom/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'issf_base/foundation/foundation-icon-font-3/foundation-icons/foundation-icons.css' %}">

        <link rel="stylesheet" href="{% static 'issf_base/issf-css/app.css' %}">
        <link rel="stylesheet" href="{% static 'issf_base/issf-css/main.css' %}">
        <link rel="stylesheet" href="{% static 'issf_base/issf-css/perfect-scrollbar.min.css' %}">

        <style>
            .jq-accordion > div {
                height: 250px;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="{% static "issf_base/issf-css/HJForms.css" %}">
        <link rel="icon" href="{% static "issf_base/img/favicon.png" %}"/>

        {% block additional_css_scripts %}
        {% endblock additional_css_scripts %}

        <!--Google Analytics tracking-->
        <script>
            (function (i, s, o, g, r, a, m) {
                i[' GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-58301238-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                    autoDisplay: false,
                    gaTrack: true,
                    gaId: 'UA-58301238-1'
                }, 'google_translate_element');
            }
        </script>
        <script
            type="text/javascript"
            src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>
    </head>

    <body LeavePageWarning=true>
        <!--Facebook like button-->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=288783304661137&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <header id="header">
            <div class="row">
                <div class="large-5 columns">
                    <div class="logo" id="issf">
                        <h1>ISSF : Information System on Small Scale Fisheries</h1>
                        <a href="/">
                            <img
                                src="{% static "issf_base/img/logo-issf.png" %}"
                                alt="Information System on Small Scale Fisheries"
                            >
                        </a>
                    </div>
                </div>
                <div class="large-7 columns header-right">
                    <div class="account-bar">
                        <style>
                        .goog-te-gadget-simple {
                            background-color: transparent;
                            border: none;
                        }
                        </style>
                        <div id="google_translate_element" style="display: inline-block;"></div>
                        |
                        <i class="fi-torso"></i>
                        {% if user.is_anonymous %}
                            <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> |
                            <a href="{% url 'account_signup' %}">Sign up</a> |
                        {% else %}
                            <a
                                href="#" data-dropdown="user-options"
                                data-options="align:left; is_hover:true"
                            >
                                {{ user.username }}
                            </a>
                            <ul id="user-options" class="tiny f-dropdown right text-left" data-dropdown-content>
                                <li>
                                    <a href="{% url 'custom-password-change' %}">{% trans "Change Password" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_reset_password' %}">{% trans "Password Reset" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'update-profile' %}">{% trans "User Profile" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'contributed-records' %}">{% trans "Contributed Records" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'account-verified' %}">{% trans "Public Information Policy" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}?next=/">{% trans "Logout" %}</a>
                                </li>
                                {% if user.is_staff %}
                                    <li>
                                        <a href="{% url 'new-tip' %}">{% trans "New Tip/FAQ" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'who-feature' %}">{% trans "New Who's Who Feature" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'geojson-upload' %}">{% trans "New Choropleth GeoJSON File" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            |
                        {% endif %}

                        <span
                            data-tooltip aria-haspopup="true" class="has-tip"
                            title="ISSF Help Page" style="padding-left: 3px;"
                        >
                            <a href="{% url 'help' %}" style="padding:0;">HELP</a>
                        </span>

                    </div>
                    <a class="bt-contribute" href="{% url 'contribute' %}"></a>
                    <a href="http://toobigtoignore.net/" target="_blank">
                        <img src="{% static "issf_base/img/logo-tbti.png" %}" alt="Too Big To Ignore">
                    </a>
                </div>
            </div>
        </header>

        {% block body %}
        {% endblock body %}

        <div style="clear:both"></div>
        <footer>
            <div class="row">
                <div class="large-8 columns">
                    <p class="copy">
                        &copy;2018 TBTI, all rights reserved. Hosted by
                        <a
                            href="https://www.computecanada.ca/"
                            target="_blank"
                        >
                            Compute Canada 
                        </a>
                        - Contact <a href="mailto:issf.tbti@gmail.com">ISSF Support</a>
                    </p>
                    <p class="copy">
                        <i>Any use of ISSF data must acknowledge TBTI as the source of contribution.</i>
                    </p>
                </div>

                <div class="large-4 columns" style="text-align:right">
                    <span>
                        <div class="footerSocialMediaContainer">
                            <a href="https://twitter.com/TBTInetwork" class="twitter-follow-button" data-show-count="true"
                            data-show-screen-name="false">Follow @TBTInetwork
                            </a>
                        </div>
                        <div class="footerSocialMediaContainer">
                            <div class="fb-like" data-href="https://www.facebook.com/TBTInetwork" data-layout="button_count"
                                data-action="like" data-show-faces="false" data-share="false"></div>
                        </div>
                    </span>

                    <div id="google_translate_element" style="padding-top: 3px;"></div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'issf_base/issf-js/jquery-ui-1.11.1.custom/jquery-ui.min.js' %}"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.4.11/perfect-scrollbar.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.4.11/perfect-scrollbar.with-mousewheel.min.js'></script>

        <script src='{% static "issf_base/issf-js/HJExtension2.js" %}'></script>
        <script src="{% static 'issf_base/issf-js/app.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(document).foundation();
                $("#search_button").click(function () {
                    window.location.href = '/?input_search_terms=' + $("#search_terms").val();
                });
            });

            (function () {
                $("#advanced-filter-btn").click(function () {
                    $("#advanced-filter-div").toggle();
                });

                $("#advanced-map-btn").click(function () {
                    $("#map").toggle();
                });
            })();

            $(window).load(function () {
                $('.lds-ring').fadeOut(100);
            });
        </script>

        <!--Twitter follow button and timeline-->
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>

        <script type="text/javascript">
            {% js_reverse_inline %}
        </script>

        {% block additional_js_scripts %}
        {% endblock additional_js_scripts %}

    </body>
</html>
