.bluejustice-contribute-section .bluejustice-section-header {
    color: #4d9de0;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 550;
}


/* .bluejustice-contribute-section.contributor .bluejustice-section-header {
    margin-top: 25px;
}


.bluejustice-contribute-section #contributor-list-toggler {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}


.bluejustice-contribute-section #contributor-list-toggler label {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}


.bluejustice-contribute-section #contributor-list-toggler label mat-icon {
    font-size: 18px;
    color: #0075ff;
    margin-top: 6px;
    margin-right: 0px;
} */