{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <title>{% block title %}ISSF: Account Inactive{% endblock %}</title>
    <div class="row">
        <div class="large-12 columns page-title2">
            <h1>{% trans "Account Inactive" %}</h1>
        </div>
    </div>
    <div class="row ">
        <div class="large-12 columns accountFormContainer">
            &nbsp;
            <p>{% trans "This account is inactive." %}</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <p>&nbsp;</p>
{% endblock %}
