{% extends "account/base.html" %}

{% load foundation %}
{% load account %}
{% load i18n %}

{% block head_title %}ISSF - {% trans "E-mail Address Confirmed" %}{% endblock %}


{% block content %}
<div class="text-center">
    <h1>{% trans "E-mail Address Confirmed" %}</h1>
</div>

<div class="text-center">
    {% user_display email_address.user as user_display %}

    <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p> 

    <p>{% blocktrans with email_address.email as email %}Please would you take few minutes to update your profile ?{% endblocktrans %}</p>
    <div id="arrow-contribute"></div>
    <a href="#" id="btnContribute" data-reveal-id="contribute-form" class="button small radius right"><b>Update my profile</b></a>
</div>
{% endblock %}
