{% extends "account/base.html" %}

{#% load url from future %#}
{% load i18n %}

{% block body %}
    <title>{% block title %}ISSF: Change Password{% endblock %}</title>
    <div class="row">
        <div class="large-12 columns page-title2">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>
    <div class="row ">
        <div class="large-12 columns accountFormContainer">
            &nbsp;
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
    <p>&nbsp;</p>
{% endblock %}
