{% extends "account/base.html" %}

{% load i18n %}

{% block body %}
    <title>{% block title %}ISSF: Change Password{% endblock %}</title>
    <div class="row">
        <div class="large-12 columns page-title2">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        </div>
    </div>

    <div class="row ">
        {% if token_fail %}
            <div class="text-center">
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </div>
        {% else %}
            {% if form %}
                <div class="large-12 columns accountFormContainer">
                    &nbsp;
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="button-bar large-12 right">
                            <button class="medium bt-submit" type="submit" value="{% trans 'change password' %}" name="action">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                    <p>&nbsp;</p>
                </div>
            <br /><br />
            {% else %}
                <div class="text-center">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
