{% extends "issf_base/base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load foundation %}
{% load i18n %}

{% block body %}
    <title>{% block title %}ISSF: Change Password{% endblock %}</title>
    <div class="row">
        <div class="large-12 columns page-title2">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>
    <div class="row ">
        <div class="large-12 columns accountFormContainer">
            &nbsp;
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|foundation }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="button-bar large-12 right">
                    <button class="medium bt-submit" type="submit" value="{% trans 'Register' %}" name="action">{% trans "Change Password" %}</button>
                </div>
            </form>
            <p>&nbsp;</p>
        </div>
    </div>
    <p>&nbsp;</p>
{% endblock body %}
