
.who-accordions .link-holder {
    word-break: break-all;
}


.who-accordions ul {
    padding-left: 15px;
}


.who-accordions li {
    font-size: 16px;
    list-style: disc;
    margin: 12px 0px;
}


.who-accordions .accordion-species,
.who-accordions .links-accordion {
    padding: 10px;
}


.who-accordions .accordion-species ul,
.who-accordions .links-accordion ul {
    padding-left: 25px;
}


.who-accordions .accordion-species h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}