
<div id="visual1" class="visual-container">
	<div class="visual-content">
		<div class="svg-container" ></div>
		<div class="visual-info">
            <p> 
                This visualization shows various governance types by country based on the contributed records <br>
                (Number next to country name refers to the number of contribution in that country) 
            </p>
			
			
			<ul>
				<li>Put the cursor over a country to see the details</li>
				<li>Cursor over to stop the wheel</li>
                <li>Remove cursor to start the rotation again</li>
				<!-- <li>Scroll to zoom the chart</li> -->
            </ul>
		</div> <!-- /visual-info -->
	</div> <!-- /visual-content -->
</div> <!-- /visual-container -->