.faq-content {
	float: left;
	width: 100%;
	background: #fff;
    padding: 20px 30px;
    border: 1px solid #e3e3e3	
}


.faq-content h1 {
	font-weight: 500;
    font-size: 27px;
}


.faq-content .categories {
	margin-bottom: 60px;
}


.faq-content .categories h3 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
}


.faq-content .categories ul li {
	font-size: 1.1rem;
    margin-top: 15px;
}


.faq-content .categories ul li a {
	cursor: pointer;
    font-weight: 550;
}


.faq-content .categories ul li ul {
	margin-top: 12px;
}


.faq-content .categories li ul li {
	font-size: 1rem;
    margin-top: 5px;
}


.faq-content .categories ul li ul li a {
    font-weight: normal;
}


.faq-content .faq-answer-section {
    border: 1px solid #ccc;
	border-top: none;
    box-sizing: border-box;
    padding: 50px 20px 20px;
    margin-top: 30px;
}


.faq-content .faq-answer-section h2 {
    background: #e3e3e3;
    width: calc(100% + 42px);
    border: 1px solid #ccc;
    padding: 10px 22px;
    box-sizing: border-box;
    margin-left: -21px;
    margin-top: -50px;
}


.faq-content .faq-answer-section strong {
	font-weight: 500;
}


.faq-content .faq-answer-section section {
    margin-bottom: 18px;
}


.faq-content .faq-answer-section section:last-child {
    margin-bottom: 0px;
}


.faq-content .faq-answer-section h3 {
    font-size: 20px;
    font-weight: 500;
	margin-bottom: 10px;
}


.faq-content .faq-answer-section p,
.faq-content .faq-answer-section li {
    font-size: 1rem;
    line-height: 1.4rem;
}