<figure id="test1"></figure>
<div id="visual4">
		<div>
			<input type="checkbox" id="sort" class="filled-in">Sort by Country
		</div>
		<svg id="chart" width="750" height="400"></svg><br>
			<p style=" font-weight: bold; ">This visualisation shows different types of injustice to small-scale fisheries taking place in various case study locations.</p>
			<ul>
			<li>Number on top of the histogram shows the number of case studies reported in each country</li>
			<li> Mouseover the justice type in a country to see the total reported number for that type</li>
			<li>Results can be sorted by country, click "Sort by Country" </li>
		</ul>
	</div>
