<div class="casestudy-forms">
    <section class="form-input">
        <label>
            <span>Case Study Name: <em class="required">*</em></span>
            <input
                type="text"
                name="name"
                placeholder="Name of the case study..."
                required
            />
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Your Role in the Case Study: <em class="required">*</em></span>
            <input
                type="text"
                name="role"
                placeholder="Your role in the case study..."
                required
            />
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Describe Case Study Area: <em class="required">*</em></span>
            <textarea
                name="description_area"
                placeholder="Describe your case study area here... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Describe Case Study Fishery: <em class="required">*</em></span>
            <textarea
                name="description_fishery"
                placeholder="Describe your case study fishery here... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Describe Case Study Issues: <em class="required">*</em></span>
            <textarea
                name="description_issues"
                placeholder="Describe your case study issues here... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Issues Addressed / Remaining Challenges: <em class="required">*</em></span>
            <textarea
                name="issues_challenges"
                placeholder="Describe the issues addressed or remaining challenges... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Stakeholders Involved: <em class="required">*</em></span>
            <textarea
                name="stakeholders"
                placeholder="Stakeholders involved... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Was the Transdisciplinary Perspective Applied? Explain How: <em class="required">*</em></span>
            <textarea
                name="transdisciplinary"
                placeholder="Explain how the transdisciplinary perspective has been applied... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Background and Context: <em class="required">*</em></span>
            <textarea
                name="background_context"
                placeholder="Background and context... "
                required
            ></textarea>
        </label>
    </section>


    <section class="form-input">
        <label>
            <span>Key Activities or Innovation: <em class="required">*</em></span>
            <textarea
                name="activities_innovation"
                placeholder="Key activities or innovation... "
                required
            ></textarea>
        </label>
    </section>
</div> <!-- /casestudy-forms -->
