
<div class="footer-content">
    <div class="footer-info">
        <nav class="footer-menu">
            <a  [routerLink]="['/privacy-policy']">Public Information Policy</a>
            <a  [routerLink]="['/faqs']">Frequently Asked Questions (FAQs)</a>
        </nav>

        <p>
        	  &copy; <span [innerHTML]="currentYear"></span> TBTI, all rights reserved.
        </p>


        <p>
            <i>Any use of ISSF data must acknowledge TBTI as the source of contribution.</i>
        </p>
    </div> <!-- /footer-info -->


    <div class="footer-right-container">
        For any question or queries, please contact <a href="mailto:issf.toobigtoignore@gmail.com">ISSF Support</a>
        <br><br>


        <div class="footer-social-media">
            <span>Follow us on twitter &nbsp;</span>
            <a
                href="https://twitter.com/TBTInetwork"
                class="twitter-follow-button"
                data-show-count="true"
                data-show-screen-name="false"
            >Follow @TBTInetwork</a>
        </div> <!-- /footer-social-media -->


        <div class="footer-social-media">
            <span>Like our page on facebook &nbsp;</span>
            <div
                class="fb-like"
                data-href="https://www.facebook.com/TBTInetwork"
                data-layout="button_count"
                data-action="like"
                data-show-faces="false"
                data-share="false"
            ></div>
        </div> <!-- /footer-social-media -->
    </div> <!-- /footer-social-media-container -->
</div> <!-- /footer-content -->
